@model Compliance.Dashboard.UI.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";

    if (!User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_LoginLayout.cshtml";
    }
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Reset your password.</h4>
    <hr />

    @Html.HiddenFor(model => model.Code)
    <div class="input-group">
        <span class="input-group-addon"><i class="icon-lock"></i></span>
        @Html.PasswordFor(m => m.Password, new { @id = "", @class = "form-control", @placeholder = "Password" })
    </div>

    <div class="input-group">
        <span class="input-group-addon"><i class="icon-lock"></i></span>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @id = "", @class = "form-control", @placeholder = "Confirm Password" })
    </div>
    <div class="input-group" style="width:100%;">

        <input type="submit" class="btn btn-block btn-warning" value="Reset" />
    </div>

    <div class="form-group">
        <div class="col-md-7">
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $("#loginbox").css("height", "160")
    </script>
}
